<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>A new message was added to our guestbook!</p>
    <p><a href="http://www.ariandfern.com/guestbook">View the guestbook now</a></p>
  </body>
</html>