<% provide(:title, "Photo Galleries") %>

<div class="jumbotron galleries">
  <div class="container">
    <div class="row">
      <h1 class="text-center title">Photo Galleries</h1>

      <div class="col-sm-6 animated fadeInLeft">
        <%= link_to image_tag("photos/engagement/engagement37.jpg", class: "img-responsive thumbnail"), :action => 'engagement'%>
        <h2 class="text-center">Engagement</h2>
      </div>

      <div class="col-sm-6 animated fadeInRight">
        <%= image_tag("photos/coming-soon.png", class: "img-responsive thumbnail") %>
        <h2 class="text-center">Wedding</h2>
      </div>
    </div>
  </div>
</div>