// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.guest-book {
  padding-top: 60px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  h1 {
    font-family: 'Pinyon Script', cursive;
    margin-bottom: 10px;
  }

  .message {
    border: 1px solid #ccc;
    padding: 12px 20px;
    margin: 15px auto;
    border-radius: 5px;

    .message-text {
      font-size: 1.05em;
    }
    .message-name {
      font-style: italic;
      font-size: .9em;
      color: #777;
    }
  }
}