// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.guest-book {
  min-height: 100%;
  padding-top: 5%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: image-url('messages/page_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;

  h1 {
    font-family: 'Pinyon Script', cursive;
    margin-bottom: 10px;
    font-weight: bold;
  }

  #messages-container {
    margin-top: 15px;
  }

  .message {
    box-shadow: 1px 1px 1px #666666;
    padding: 15px 20px;
    margin: 10px auto;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .75);

    .message-text {
      font-size: 1.05em;
    }

    .message-name {
      font-style: italic;
      font-size: .9em;
      color: #777;
    }
  }
}