// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photos {
  padding-top: 40px;
  background-image: image_url('photos/gray-bg.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;

  .title {
    color: #fff;
    margin: 25px;
  }
}
