// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron.galleries {
  background-color: #333333;
  background-size: cover;
  color: #fff;

  .title {
    margin-top: 45px;
    color: #fff;
    margin: 25px;
  }

  h1 {
    font-size: 3.5em;
  }

  h2 {
    margin-bottom: 20px;
  }
}


.photos {
  padding-top: 45px;
  background-color: #333333;
  background-attachment: fixed;
  color: #fff;

  .title {
    color: #fff;
    margin: 25px;
  }

  .thumbnail.regular {
    width: 322px;
    height: auto;
    margin: 10px auto;
  }

  .thumbnail.large {
    width: 322px;
    height: auto;
    margin: 10px auto;
  }
}

@media (max-width: 767px) {
  .jumbotron.galleries {
    padding-top: 10%;
  }

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}