// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron.galleries {
  height: 100%;
  width: 100%;
  background-color: #333333;
  background-size: cover;
  color: #fff;

  .title {
    color: #fff;
    margin: 40px 0 30px 0;
  }

  h1 {
    font-size: 3.5em;
  }

  h2 {
    margin-bottom: 20px;
  }
}


.photos {
  padding-top: 45px;
  background-color: #333333;
  color: #fff;
  height: 100%;
  width: 100%;

  .title {
    color: #fff;
    margin: 25px;
  }
}
