// Place all the styles related to the Reception controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron.reception {
  background-image: image-url('reception/nixon.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding-top: 8%;

  .reception-info {
    color: #fff;
    background-color: rgba(0, 0, 0, .8);
    box-shadow: 2px 2px 3px #000;
    border-radius: 5px;
    padding: 15px 40px;

    a {
      color: #fff;
    }

    img {
      margin-bottom: 15px;
      border: 1px solid #ccc;
    }

    p {
      font-size: 1em;
      margin: 5px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    hr {
      margin: 15px 0;
      border-top: 1px solid #f7d24c;
    }
  }
}

.reception-map {
  margin: 0;
  padding: 0;

  .jumbotron {
    padding: 0;
  }

  #reception-map {
    width: 100%;
    min-height: 750px;
  }
}

@media (max-width: 767px) {
  .jumbotron.reception {
    padding-top: 10%;
  }

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}