<% provide(:title, "Reception") %>

<div class="jumbotron reception">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 reception-info animated fadeInLeft">
        <h2 class="text-center">Richard Nixon Library & Museum</h2>
        <%= image_tag('reception/library-entrance.jpg', class: "img-responsive") %>

        <p>Address: <a href="https://www.google.com/maps/place/18001+Yorba+Linda+Blvd,+Yorba+Linda,+CA+92886/@33.8892039,-117.8191042,17z/data=!4m7!1m4!3m3!1s0x80dcd3e34be8a1a9:0xdcd6f208877d10cf!2s18001+Yorba+Linda+Blvd,+Yorba+Linda,+CA+92886!3b1!3m1!1s0x80dcd3e34be8a1a9:0xdcd6f208877d10cf" target="_blank">18001 Yorba Linda Blvd., Yorba Linda, CA 92886</a></p>
        <p>Website: <a href="http://www.nixonlibrary.gov/" target="_blank">www.nixonlibrary.gov</a></p>
        <hr>
        <p>Cocktail Hour: 5pm - 6pm</p>
        <p>Dinner: 6pm</p>
      </div>

      <div class="col-sm-6 reception-directions">
        
      </div>
    </div>
  </div>
</div>