<% provide(:title, "Reception") %>

<div class="jumbotron reception">
  <div class="container">
    <div class="row">
      <div class="col-sm-11 col-md-9 col-lg-8 center-block reception-info animated fadeInLeft">
        <h2 class="text-center">Richard Nixon Library & Museum</h2>
        <%= image_tag('reception/library-entrance.jpg', class: "img-responsive") %>

        <p>Address:18001 Yorba Linda Blvd., Yorba Linda, CA 92886  <a href="#reception-map">(View Map)</a></p>
        <p>Website: <a href="http://www.nixonlibrary.gov/" target="_blank">www.nixonlibrary.gov</a></p>
        <hr>
        <p>Friday, June 26, 2015</p>
        <p>Cocktail Hour: 5pm - 6pm</p>
        <p>Dinner: 6pm</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid reception-map">
  <div class="jumbotron">
    <div id="reception-map"></div>
  </div>
</div>