<% provide(:title, "Ceremony") %>

<div class="jumbotron ceremony">
  <div class="container">
    <div class="row">
      <div class="col-sm-11 col-md-9 col-lg-8 center-block ceremony-info">
        <h2 class="text-center">St. Denis Catholic Church</h2>
        <%= image_tag('ceremony/church-front.jpg', class: "img-responsive") %>

        <p>Address: 2151 S Diamond Bar Blvd, Diamond Bar, CA 91765<a href="#ceremony-map"> (View Map)</a></p>
        <p>Website: <a href="http://www.stdenis.org/" target="_blank">www.stdenis.org</a></p>
        <hr>
        <p>Friday, June 26, 2015</p>
        <p>Ceremony: 1:45pm</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid ceremony-map">
  <div class="jumbotron">
    <div id="ceremony-map"></div>
  </div>
</div>