<% provide(:title, "Ceremony") %>

<div class="jumbotron ceremony">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 ceremony-info">
        <h2 class="text-center">St. Denis Catholic Church</h2>
        <%= image_tag('ceremony/church-front.jpg', class: "img-responsive") %>

        <p>Address: <a href="https://www.google.com/maps/place/2151+S+Diamond+Bar+Blvd/@33.9860979,-117.826483,17z/data=!4m3!3m2!1s0x80c32c9f60ff6a63:0x25df38d469fb57d7!4b1" target="_blank">2151 S Diamond Bar Blvd, Diamond Bar, CA 91765</a></p>
        <p>Website: <a href="http://www.stdenis.org/" target="_blank">www.stdenis.org</a></p>
        <hr>
        <p>Ceremony: 2:30pm</p>
      </div>

      <div class="col-sm-6 ceremony-directions">
        
      </div>
    </div>
  </div>
</div>
